@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Reenie Beanie", cursive;
  font-size: 16px;
  margin: 0;
  background: #666;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form textarea {
  resize: vertical;
  height: 100px;
}

form label {
  display: block;
  margin-bottom: 8px;
}

form input[type="checkbox"] {
  margin-right: 5px;
}

form button {
  background-color: #EC7063;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background-color: #D35450;
}

.note {
  background: #FFFFCC;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.note:hover {
  transform: rotate(4deg);
}

.note h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #111;
}

.note p {
  font-size: 16px;
  margin-bottom: 10px;
}

.note button {
  background-color: #EC7063;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  z-index: 1;
  transition: transform 0.15s linear;
}

.note button:hover {
  background-color: #D35450;
  transform: scale(1.1);
}

.note.important {
  background: #EC7063;
  color: #fff;
}


.filtro-container {
  margin-bottom: 20px;
}

.filtro-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.filtro-input:focus {
  outline: none;
  border-color: #EC7063;
}
